body{
	margin: 0;
	padding: 0;
	background-color: pink;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-item: center;
	justify-content: center;

}

h1{
	text-align: center;
}